{% extends "gestionResgistroUsuarios/base.html" %}

{% load static %}

{% block content %}

<section><!-- Este sección muestra las categorías debajo del menú -->
    <div style="width:75%; margin: auto; color: rgb(191, 202, 199); text-align: center;">
        Categorías: 
        {% for post in posts %}
            {% for categoria in post.categorias.all %}

        <a href="{% url 'categoria' categoria.id %}" class="linksCategorias"> {{categoria.nombre}}</a>&nbsp; &nbsp;

            {% endfor %}
        {% endfor %}

    </div>
        <!--Todo este estilo inline debe reemplazarse-->
        <div style="width: 400px;display: flex;
        justify-content: center;
        align-items: center; margin: auto;">
            {% if request.user.is_authenticated %}

            <a href="{% url 'misEntradas' %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Ver mis entradas de blog</a>

            {% else %}

              <div class='alert alert-danger text-center'>Haz login para escribir en el blog</div>

            {% endif %}
          </div>
</section>

    {% for post in posts %}

    <section class="page-section clearfix">
        <div class="container">
          <div class="intro">
            <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{{post.imagen.url}}" alt="" style="width: 40%;">
            
            <div class="intro-text left-0 text-center bg-faded p-5 rounded">
              <h2 class="section-heading mb-4" >
                <span class="section-heading-lower">{{post.titulo}}</span>
                <span class="section-heading-upper">{{post.descripcion}}</span>
                <a href="{% url 'valordelnameentrada' post.id  %}"><span class="linksCategorias" style="font-size: 20px;">Play</span></a>
                           
              </h2>
                <div style="text-align: left; font-size: 0.9em;">
                    Autor: {{post.autor}}<br>

                    {% for categoria in post.categorias.all %}

                        Categoría: {{categoria.nombre}}<br>
                       

                    {% endfor %}
                 </div>
            </div>
          </div>
        </div>
      </section>


<!-- Codigo de prueba del titulo y contenido del servicio
<div><p>
    <h2 style="color:white;">{{servicio.titulo}}</h2>
    <p style="color:white;">{{servicio.contenido}}</p>
    <p> <img src="{{servicio.imagen.url}}"> </p>

</p></div>
-->
    {% endfor %}



{% endblock %}