{% extends 'gestionResgistroUsuarios/base.html' %}

{% load static %}

{% block content %}
{% include "blog/articulos/listaArticulos.html" %}


  <!--Esta es el área para la lista de posts  con imagen, contenido y descripcion -->
  {% for post in posts %}

    {% if request.user == post.autor %}
<section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{{post.imagen.url}}" alt="" style="width: 40%;">
        
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4" >
            <span class="section-heading-lower">{{ post.titulo }}</span>
            <span class="section-heading-upper">{{ post.descripcion }}</span>
            <a href="{% url 'valordelnameentrada' post.id  %}"><span class="linksCategorias" style="font-size: 20px;">Play</span></a>
                       
          </h2>
            <div style="text-align: left; font-size: 0.9em;">
                Autor: {{ post.autor }}<br>

                {% for categoria in post.categorias.all %}

                    Categoría: {{ categoria.nombre }}<br>
                    <small>{{ post.created }}</small>
                

                {% endfor %}
             
                
             </div>
        </div>
      </div>
    </div>
  </section> 
  {% else %} 
<!-- Si no coincide el usuario y el autor no se inprime nada -->
<span></span>
  {% endif %}
 
  {% endfor %}            

  
<!-- Este sección muestra las categorías debajo del menú -->

<section>
  <div style="width:75%; margin: auto; color: rgb(191, 202, 199); text-align: center;">
      Categorías: 
      {% for post in posts %}
          {% for categoria in post.categorias.all %}

      <a href="{% url 'categoria' categoria.id %}" class="linksCategorias"> {{categoria.nombre}}</a>&nbsp; &nbsp;

          {% endfor %}
      {% endfor %}

  </div>

  <!--Selector de articulos publicados por el usuario (leer, modificar) --> 

{% endblock %}


