# Byte-compiled / optimized / DLL files
__pycache__/
# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
*.__pycache__
*.pyc
*.cpyt
*.cpython-310.pyt
# Environments
.env
blog/__pycache__/models.cpython-310.pyc
blog/__pycache__/urls.cpython-310.pyc
blog/__pycache__/views.cpython-310.pyc
blog/migrations/__pycache__/0004_alter_categoria_nombre.cpython-310.pyc
blog/migrations/__pycache__/0005_alter_post_imagen.cpython-310.pyc